*{
  padding: 0px;
  margin: 0px;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  height: 100%;
}

.nav_bar{
  float: right;
}
.dot-icon{
  height: 20px;
  width: 30px;
}

section ul{
  list-style: none;
  display:flex;
  align-items: center;
  flex-flow: row-reverse nowrap;
  margin-right: 20px;
 
}

.signin{
  height: 30px;
  width: 80px;
  background-color: blue;
  border-radius: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section li:hover{
  border: 2px solid black;
}

li{
  margin: 20px;
}
 

.main{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-bar{
  width: 500px;
  height: 30px;
  border-radius: 10px;
}

.buttons{
  display:flex;
  justify-content: center;
  height: 35px;
  font-size: medium;
}

